
<section id="about" class="py-5" style="background-color: rgba(207, 98, 98, 0.815);">

    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <!-- <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1> -->
            <h1>ABOUT ME</h1>
        </div>
        <div class="row">
            <div class="col-md-6 pb-4 pb-lg-0 image">
                <img class="img-fluid " src="assets/meslane.jpg" alt="" class="p-pic">

                <div class="skills">
                  <div class="icons1">
                    <a href="https://angular.io/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/angularjs-colored.svg" width="70" height="70" alt="Angular" /></a>

                    <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="70" height="70"/> </a>

                    <a href="https://www.figma.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" class="mt-5" width="70" height="70"/> </a>

                    <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" class="mt-5" width="70" height="70"/> </a>

                <a href="https://getbootstrap.com/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/bootstrap-colored.svg" class="mt-5" width="70" height="70" alt="Bootstrap" /></a>
                  </div>

                  <div class="icons2">
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/javascript-colored.svg" width="70" height="70" alt="Javascript" /></a>

                    <a href="https://nodejs.org/en/" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/skills/nodejs-colored.svg" width="70" height="70" alt="NodeJS" /></a>

                    <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" class="mt-5" width="70" height="70"/></a>

                    <a href="https://www.postgresql.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" class="mt-5" width="70" height="70"/> </a>
                  </div>

            </div>

        </div>
            <div class="col-md-6 pt-5">
                <p>I am a junior Software Developer using the MEAN Tech Stack. I am a young curious and passionate individual who is inspired by programming. I am always keen on learning about the new trends and latest technologies.</p>
                <p>I am currently seeking opportunities which will allow me to further improve my technical skills for business solutions as an ambitious life-long learner.</p>
            </div>
            </div>
    </div>
</section>


