<!-- <router-outlet></router-outlet> -->

  <!-- cards -->
<section id="portfolio" class="p-5">

<h1 class="text-center text-uppercase">My Projects</h1>

<div class="container">
<div class="row text-center g-4">
  <div class="col-md">
    <div class="card bg-light text-dark">
      <div class="card-body text-center">
        <div class="h1 mb-3">
          <i class="bi bi-laptop"></i>
        </div>
        <span class="material-icons">
          <img src="assets/tech.jpeg" alt="">
          </span>
        <h3 class="card-title mb-3">TechPath</h3>
        <p class="card-text p-2">
          techPath is a platform where experienced Developers can post their journeys to help dispel myths about Software Development. The platform
          also provides a way for people who want to learn to chat with mentors in order to get help in starting
          their Software Development journey.

        </p>
        <a href="https://techpath.vercel.app" target="_blank" class="btn">View Here</a>
      </div>
    </div>
  </div>

    <div class="col-md">
      <div class="card bg-light text-dark">
        <div class="card-body text-center">
          <div class="h1 mb-3">
            <i class="bi bi-people"></i>
          </div>
          <span class="material-icons">
            <img src="assets/popicon.png" alt="" style="width: 90%;">
            </span>

          <h3 class="card-title mb-3">PopcornFlix</h3>
          <p class="card-text">
            Collaborated in a movie database app.
          </p>
          <a href="https://pcorn-backend.herokuapp.com/" target="_blank" class="btn" id="button">View Here</a>
        </div>
      </div>
    </div>

  <div class="col-md">
    <div class="card bg-light text-dark">
      <div class="card-body text-center">
        <div class="h1 mb-3">
          <i class="bi bi-people"></i>
        </div>
        <span class="material-icons">
          <img src="assets/logo1.png" alt="">
          </span>
        <h3 class="card-title mb-3">Khanya-Nathi Co-Op</h3>
        <p class="card-text">

          Khanya-Nathi Co-Op is a cooperative based in a small town called Lusikisiki under the deep rural areas of eQaukeni in Mgojweni location (Eastern Cape). It is directed by 3 personnel, Lwazikazi Macingwane, Yanga Faku, Siphesihle Tansi. The purpose of our cooperative is to release the economic, cultural and social needs of the community members and other surrounding communities.
        </p>
        <a href="https://khanyanathi.herokuapp.com" target="_blank" class="btn">View Here</a>
      </div>
    </div>
  </div>

</div>
</div>

</section>

